# Site production URL (no trailing slash)
VITE_SITE_URL=https://naiimbsili.com

# Microsoft Clarity Project ID
VITE_CLARITY_PROJECT_ID=

# Supabase Configuration (Public anon key only - NEVER use service_role key in frontend)
VITE_SUPABASE_URL= https://btrrvoalqzapnmvqygnp.supabase.co
VITE_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ0cnJ2b2FscXphcG5tdnF5Z25wIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA2MTc2MTEsImV4cCI6MjEwNjE5MzYxMX0.1G7mxh01vWUXqyefHIxJeSZXpm1l5SrCOOXmAVq8gl4
