-- ==============================================================================
-- SUPABASE CMS SCHEMA MIGRATION: 001_initial_cms.sql
-- Description: Core schema for Projects, Case Studies, Sections, Blocks, Media, Profiles & RLS.
-- ==============================================================================

-- 1. EXTENSIONS
CREATE EXTENSION IF NOT EXISTS "uuid-ossp";

-- 2. CUSTOM TYPES
DO $$ BEGIN
    CREATE TYPE content_status AS ENUM ('draft', 'published', 'archived');
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
    CREATE TYPE case_study_type AS ENUM ('standard', 'custom');
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

DO $$ BEGIN
    CREATE TYPE user_role AS ENUM ('admin', 'editor', 'viewer');
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

-- 3. PROFILES TABLE (Linked to auth.users for safe role authorization)
CREATE TABLE IF NOT EXISTS public.profiles (
    id UUID PRIMARY KEY REFERENCES auth.users(id) ON DELETE CASCADE,
    email TEXT UNIQUE NOT NULL,
    full_name TEXT,
    role user_role NOT NULL DEFAULT 'viewer',
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- 4. MEDIA TABLE (Metadata for assets stored in Supabase Storage 'portfolio-media')
CREATE TABLE IF NOT EXISTS public.media (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    storage_path TEXT NOT NULL,
    public_url TEXT NOT NULL,
    filename TEXT NOT NULL,
    alt_text TEXT DEFAULT '',
    caption TEXT,
    mime_type TEXT,
    width INTEGER,
    height INTEGER,
    size_bytes BIGINT,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- 5. PROJECTS TABLE
CREATE TABLE IF NOT EXISTS public.projects (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    slug TEXT UNIQUE NOT NULL,
    title TEXT NOT NULL,
    kicker TEXT,
    short_description TEXT,
    category TEXT NOT NULL DEFAULT 'Product Design',
    year INTEGER NOT NULL DEFAULT EXTRACT(YEAR FROM NOW()),
    roles TEXT[] DEFAULT '{}',
    tools TEXT[] DEFAULT '{}',
    thumbnail_media_id UUID REFERENCES public.media(id) ON DELETE SET NULL,
    is_featured BOOLEAN NOT NULL DEFAULT false,
    sort_order INTEGER NOT NULL DEFAULT 0,
    status content_status NOT NULL DEFAULT 'draft',
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- 6. CASE STUDIES TABLE
CREATE TABLE IF NOT EXISTS public.case_studies (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    project_id UUID UNIQUE NOT NULL REFERENCES public.projects(id) ON DELETE CASCADE,
    type case_study_type NOT NULL DEFAULT 'standard',
    title TEXT NOT NULL,
    subtitle TEXT,
    hero_media_id UUID REFERENCES public.media(id) ON DELETE SET NULL,
    seo_title TEXT,
    seo_description TEXT,
    canonical_path TEXT,
    status content_status NOT NULL DEFAULT 'draft',
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- 7. CASE STUDY SECTIONS TABLE
CREATE TABLE IF NOT EXISTS public.case_study_sections (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    case_study_id UUID NOT NULL REFERENCES public.case_studies(id) ON DELETE CASCADE,
    section_type TEXT NOT NULL,
    title TEXT,
    eyebrow TEXT,
    order_index INTEGER NOT NULL DEFAULT 0,
    is_visible BOOLEAN NOT NULL DEFAULT true,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- 8. SECTION BLOCKS TABLE (Flexible JSONB payload per block)
CREATE TABLE IF NOT EXISTS public.section_blocks (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    section_id UUID NOT NULL REFERENCES public.case_study_sections(id) ON DELETE CASCADE,
    block_type TEXT NOT NULL,
    content JSONB NOT NULL DEFAULT '{}'::jsonb,
    order_index INTEGER NOT NULL DEFAULT 0,
    is_visible BOOLEAN NOT NULL DEFAULT true,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- 9. PERFORMANCE INDEXES
CREATE INDEX IF NOT EXISTS idx_projects_slug ON public.projects(slug);
CREATE INDEX IF NOT EXISTS idx_projects_status ON public.projects(status);
CREATE INDEX IF NOT EXISTS idx_projects_featured ON public.projects(is_featured);
CREATE INDEX IF NOT EXISTS idx_projects_order ON public.projects(sort_order);
CREATE INDEX IF NOT EXISTS idx_case_studies_project ON public.case_studies(project_id);
CREATE INDEX IF NOT EXISTS idx_case_studies_status ON public.case_studies(status);
CREATE INDEX IF NOT EXISTS idx_sections_case_study ON public.case_study_sections(case_study_id, order_index);
CREATE INDEX IF NOT EXISTS idx_blocks_section ON public.section_blocks(section_id, order_index);

-- 10. ROW LEVEL SECURITY (RLS) POLICIES

-- Helper function to check if current user is admin
CREATE OR REPLACE FUNCTION public.is_admin()
RETURNS BOOLEAN AS $$
BEGIN
    RETURN EXISTS (
        SELECT 1 FROM public.profiles
        WHERE id = auth.uid() AND role = 'admin'
    );
END;
$$ LANGUAGE plpgsql SECURITY DEFINER;

-- Enable RLS on all tables
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.media ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.projects ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.case_studies ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.case_study_sections ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.section_blocks ENABLE ROW LEVEL SECURITY;

-- PROFILES POLICIES
CREATE POLICY "Users can view their own profile"
    ON public.profiles FOR SELECT
    USING (auth.uid() = id);

CREATE POLICY "Admins have full access to profiles"
    ON public.profiles FOR ALL
    USING (public.is_admin());

-- MEDIA POLICIES
CREATE POLICY "Public can view media"
    ON public.media FOR SELECT
    USING (true);

CREATE POLICY "Admins can manage media"
    ON public.media FOR ALL
    USING (public.is_admin());

-- PROJECTS POLICIES
CREATE POLICY "Public can read published projects"
    ON public.projects FOR SELECT
    USING (status = 'published');

CREATE POLICY "Admins have full access to projects"
    ON public.projects FOR ALL
    USING (public.is_admin());

-- CASE STUDIES POLICIES
CREATE POLICY "Public can read published case studies"
    ON public.case_studies FOR SELECT
    USING (status = 'published');

CREATE POLICY "Admins have full access to case studies"
    ON public.case_studies FOR ALL
    USING (public.is_admin());

-- CASE STUDY SECTIONS POLICIES
CREATE POLICY "Public can read visible sections of published case studies"
    ON public.case_study_sections FOR SELECT
    USING (
        is_visible = true AND
        EXISTS (
            SELECT 1 FROM public.case_studies
            WHERE id = case_study_sections.case_study_id AND status = 'published'
        )
    );

CREATE POLICY "Admins have full access to sections"
    ON public.case_study_sections FOR ALL
    USING (public.is_admin());

-- SECTION BLOCKS POLICIES
CREATE POLICY "Public can read visible blocks of published case studies"
    ON public.section_blocks FOR SELECT
    USING (
        is_visible = true AND
        EXISTS (
            SELECT 1 FROM public.case_study_sections s
            JOIN public.case_studies cs ON cs.id = s.case_study_id
            WHERE s.id = section_blocks.section_id AND s.is_visible = true AND cs.status = 'published'
        )
    );

CREATE POLICY "Admins have full access to blocks"
    ON public.section_blocks FOR ALL
    USING (public.is_admin());
-- ==============================================================================
-- SUPABASE CMS MIGRATION: 002_cms_public_renderer.sql
-- Description: Sets up storage bucket policies for 'portfolio-media' and verifies public read policies.
-- ==============================================================================

-- 1. CREATE STORAGE BUCKET
INSERT INTO storage.buckets (id, name, public)
VALUES ('portfolio-media', 'portfolio-media', true)
ON CONFLICT (id) DO UPDATE SET public = true;

-- 2. STORAGE POLICIES
DO $$
BEGIN
    -- Public Read Access for portfolio-media bucket
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies
        WHERE schemaname = 'storage' AND tablename = 'objects' AND policyname = 'Public Access to portfolio-media'
    ) THEN
        CREATE POLICY "Public Access to portfolio-media"
            ON storage.objects FOR SELECT
            USING (bucket_id = 'portfolio-media');
    END IF;

    -- Admin full access to portfolio-media bucket
    IF NOT EXISTS (
        SELECT 1 FROM pg_policies
        WHERE schemaname = 'storage' AND tablename = 'objects' AND policyname = 'Admin manage portfolio-media'
    ) THEN
        CREATE POLICY "Admin manage portfolio-media"
            ON storage.objects FOR ALL
            USING (
                bucket_id = 'portfolio-media' AND
                EXISTS (
                    SELECT 1 FROM public.profiles
                    WHERE id = auth.uid() AND role IN ('admin', 'editor')
                )
            );
    END IF;
END $$;
-- ==============================================================================
-- SUPABASE CMS MIGRATION: 003_agents_cms.sql
-- Description: Creates the public.agents and public.agent_case_studies tables
-- along with performance indexes, foreign keys, and RLS policies for Phase 14.
-- ==============================================================================

-- 1. DEMO TYPE ENUM
DO $$ BEGIN
    CREATE TYPE agent_demo_type AS ENUM ('none', 'external', 'embedded', 'internal');
EXCEPTION
    WHEN duplicate_object THEN null;
END $$;

-- 2. AGENTS TABLE
CREATE TABLE IF NOT EXISTS public.agents (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    slug TEXT UNIQUE NOT NULL,
    name TEXT NOT NULL,
    short_description TEXT,
    description TEXT,
    category TEXT NOT NULL DEFAULT 'AI Agent',
    status content_status NOT NULL DEFAULT 'draft',
    year INTEGER NOT NULL DEFAULT EXTRACT(YEAR FROM NOW()),
    role TEXT,
    tools TEXT[] DEFAULT '{}',
    workflow_platform TEXT DEFAULT 'n8n',
    thumbnail_media_id UUID REFERENCES public.media(id) ON DELETE SET NULL,
    hero_media_id UUID REFERENCES public.media(id) ON DELETE SET NULL,
    demo_type agent_demo_type NOT NULL DEFAULT 'none',
    demo_url TEXT,
    github_url TEXT,
    n8n_workflow_url TEXT,
    is_featured BOOLEAN NOT NULL DEFAULT false,
    sort_order INTEGER NOT NULL DEFAULT 0,
    seo_title TEXT,
    seo_description TEXT,
    canonical_path TEXT,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- 3. AGENT CASE STUDIES TABLE
CREATE TABLE IF NOT EXISTS public.agent_case_studies (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    agent_id UUID UNIQUE NOT NULL REFERENCES public.agents(id) ON DELETE CASCADE,
    subtitle TEXT,
    hero_media_id UUID REFERENCES public.media(id) ON DELETE SET NULL,
    seo_title TEXT,
    seo_description TEXT,
    canonical_path TEXT,
    status content_status NOT NULL DEFAULT 'draft',
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- 4. AGENT CASE STUDY SECTIONS TABLE
CREATE TABLE IF NOT EXISTS public.agent_case_study_sections (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    agent_case_study_id UUID NOT NULL REFERENCES public.agent_case_studies(id) ON DELETE CASCADE,
    section_type TEXT NOT NULL,
    title TEXT,
    eyebrow TEXT,
    order_index INTEGER NOT NULL DEFAULT 0,
    is_visible BOOLEAN NOT NULL DEFAULT true,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- 5. AGENT SECTION BLOCKS TABLE
CREATE TABLE IF NOT EXISTS public.agent_section_blocks (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    section_id UUID NOT NULL REFERENCES public.agent_case_study_sections(id) ON DELETE CASCADE,
    block_type TEXT NOT NULL,
    content JSONB NOT NULL DEFAULT '{}'::jsonb,
    order_index INTEGER NOT NULL DEFAULT 0,
    is_visible BOOLEAN NOT NULL DEFAULT true,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- 6. PERFORMANCE INDEXES
CREATE INDEX IF NOT EXISTS idx_agents_slug ON public.agents(slug);
CREATE INDEX IF NOT EXISTS idx_agents_status ON public.agents(status);
CREATE INDEX IF NOT EXISTS idx_agents_featured ON public.agents(is_featured);
CREATE INDEX IF NOT EXISTS idx_agents_order ON public.agents(sort_order);
CREATE INDEX IF NOT EXISTS idx_agent_cs_agent ON public.agent_case_studies(agent_id);
CREATE INDEX IF NOT EXISTS idx_agent_cs_status ON public.agent_case_studies(status);
CREATE INDEX IF NOT EXISTS idx_agent_sections_cs ON public.agent_case_study_sections(agent_case_study_id, order_index);
CREATE INDEX IF NOT EXISTS idx_agent_blocks_sec ON public.agent_section_blocks(section_id, order_index);

-- 7. ENABLE ROW LEVEL SECURITY (RLS)
ALTER TABLE public.agents ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.agent_case_studies ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.agent_case_study_sections ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.agent_section_blocks ENABLE ROW LEVEL SECURITY;

-- 8. AGENTS POLICIES
CREATE POLICY "Public can read published agents"
    ON public.agents FOR SELECT
    USING (status = 'published');

CREATE POLICY "Admins have full access to agents"
    ON public.agents FOR ALL
    USING (public.is_admin());

-- 9. AGENT CASE STUDIES POLICIES
CREATE POLICY "Public can read published agent case studies"
    ON public.agent_case_studies FOR SELECT
    USING (status = 'published');

CREATE POLICY "Admins have full access to agent case studies"
    ON public.agent_case_studies FOR ALL
    USING (public.is_admin());

-- 10. AGENT CASE STUDY SECTIONS POLICIES
CREATE POLICY "Public can read visible sections of published agent case studies"
    ON public.agent_case_study_sections FOR SELECT
    USING (
        is_visible = true AND
        EXISTS (
            SELECT 1 FROM public.agent_case_studies
            WHERE id = agent_case_study_sections.agent_case_study_id AND status = 'published'
        )
    );

CREATE POLICY "Admins have full access to agent case study sections"
    ON public.agent_case_study_sections FOR ALL
    USING (public.is_admin());

-- 11. AGENT SECTION BLOCKS POLICIES
CREATE POLICY "Public can read visible blocks of published agent case studies"
    ON public.agent_section_blocks FOR SELECT
    USING (
        is_visible = true AND
        EXISTS (
            SELECT 1 FROM public.agent_case_study_sections s
            JOIN public.agent_case_studies acs ON acs.id = s.agent_case_study_id
            WHERE s.id = agent_section_blocks.section_id AND s.is_visible = true AND acs.status = 'published'
        )
    );

CREATE POLICY "Admins have full access to agent section blocks"
    ON public.agent_section_blocks FOR ALL
    USING (public.is_admin());
-- ==============================================================================
-- SUPABASE CMS MIGRATION: 004_agent_runtime_mcp.sql
-- Description: Creates the public.mcp_connections and public.agent_runtime_configs
-- tables, establishing the CMS as the source of truth for AI Agent runtimes
-- and MCP integrations while strictly preventing secret/credential storage in the DB.
-- ==============================================================================

-- 1. MCP CONNECTIONS TABLE
-- Stores non-sensitive metadata for external MCP / n8n HTTP server configurations.
-- The server resolves connection_key (e.g. "n8n-main") to server-side process.env secrets.
CREATE TABLE IF NOT EXISTS public.mcp_connections (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    name TEXT NOT NULL,
    slug TEXT UNIQUE NOT NULL,
    provider TEXT NOT NULL DEFAULT 'n8n', -- 'n8n', 'custom'
    connection_key TEXT UNIQUE NOT NULL,  -- maps to server secret resolver (e.g. "n8n-main")
    server_url_hint TEXT,                 -- safe non-secret endpoint hint (e.g. "https://n8n.example.com")
    description TEXT,
    status TEXT NOT NULL DEFAULT 'active', -- 'active', 'inactive', 'maintenance'
    is_active BOOLEAN NOT NULL DEFAULT true,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- 2. AGENT RUNTIME CONFIGS TABLE
-- 1:1 relationship with public.agents defining execution behavior, allowed tools, and limits.
CREATE TABLE IF NOT EXISTS public.agent_runtime_configs (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    agent_id UUID UNIQUE NOT NULL REFERENCES public.agents(id) ON DELETE CASCADE,
    runtime_type TEXT NOT NULL DEFAULT 'none', -- 'none', 'mcp'
    mcp_connection_id UUID REFERENCES public.mcp_connections(id) ON DELETE SET NULL,
    default_tool TEXT,
    allowed_tools JSONB NOT NULL DEFAULT '[]'::jsonb,
    timeout_ms INTEGER NOT NULL DEFAULT 30000,
    max_input_length INTEGER NOT NULL DEFAULT 1000,
    is_enabled BOOLEAN NOT NULL DEFAULT false,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

-- 3. PERFORMANCE INDEXES
CREATE INDEX IF NOT EXISTS idx_mcp_conn_slug ON public.mcp_connections(slug);
CREATE INDEX IF NOT EXISTS idx_mcp_conn_key ON public.mcp_connections(connection_key);
CREATE INDEX IF NOT EXISTS idx_mcp_conn_active ON public.mcp_connections(is_active);
CREATE INDEX IF NOT EXISTS idx_agent_runtime_agent ON public.agent_runtime_configs(agent_id);
CREATE INDEX IF NOT EXISTS idx_agent_runtime_conn ON public.agent_runtime_configs(mcp_connection_id);
CREATE INDEX IF NOT EXISTS idx_agent_runtime_enabled ON public.agent_runtime_configs(is_enabled);

-- 4. ENABLE ROW LEVEL SECURITY (RLS)
ALTER TABLE public.mcp_connections ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.agent_runtime_configs ENABLE ROW LEVEL SECURITY;

-- 5. MCP CONNECTIONS POLICIES (Admin/Editor full access only)
CREATE POLICY "Admins have full access to mcp_connections"
    ON public.mcp_connections FOR ALL
    USING (public.is_admin());

-- 6. AGENT RUNTIME CONFIGS POLICIES
-- Public users can read basic runtime settings (e.g. is_enabled, default_tool) for published agents
CREATE POLICY "Public can read runtime configs of published agents"
    ON public.agent_runtime_configs FOR SELECT
    USING (
        EXISTS (
            SELECT 1 FROM public.agents
            WHERE id = agent_runtime_configs.agent_id AND status = 'published'
        )
    );

CREATE POLICY "Admins have full access to agent_runtime_configs"
    ON public.agent_runtime_configs FOR ALL
    USING (public.is_admin());
-- ==============================================================================
-- SUPABASE CMS MIGRATION: 005_mcp_connections_v2.sql
-- Description: Evolve public.mcp_connections to a generic MCP connection model
-- supporting multiple transports (http) and auth_types (bearer, oauth2)
-- with safe metadata JSONB, preserving 100% backward compatibility.
-- ==============================================================================

-- 1. ADD GENERIC MCP CONNECTION COLUMNS (Nullable or with safe defaults)
ALTER TABLE public.mcp_connections
    ADD COLUMN IF NOT EXISTS transport TEXT NOT NULL DEFAULT 'http',
    ADD COLUMN IF NOT EXISTS auth_type TEXT NOT NULL DEFAULT 'bearer',
    ADD COLUMN IF NOT EXISTS server_url TEXT,
    ADD COLUMN IF NOT EXISTS metadata JSONB NOT NULL DEFAULT '{}'::jsonb;

-- 2. BACKFILL server_url FROM server_url_hint IF EMPTY
UPDATE public.mcp_connections
SET server_url = server_url_hint
WHERE server_url IS NULL AND server_url_hint IS NOT NULL;

-- 3. INDEX FOR AUTH TYPE AND PROVIDER
CREATE INDEX IF NOT EXISTS idx_mcp_conn_auth_type ON public.mcp_connections(auth_type);
CREATE INDEX IF NOT EXISTS idx_mcp_conn_provider ON public.mcp_connections(provider);
-- ==============================================================================
-- SUPABASE CMS SCHEMA MIGRATION: 006_site_cms_foundation.sql
-- Description: Site-wide CMS foundation schema (Pages, Page Sections, Navigation Items, Site Settings) with RLS.
-- ==============================================================================

-- 1. PAGES TABLE
CREATE TABLE IF NOT EXISTS public.pages (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    slug TEXT UNIQUE NOT NULL,
    title TEXT NOT NULL,
    status content_status NOT NULL DEFAULT 'draft',
    template TEXT DEFAULT 'default',
    seo_title TEXT,
    seo_description TEXT,
    canonical_url TEXT,
    og_image_id UUID REFERENCES public.media(id) ON DELETE SET NULL,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    published_at TIMESTAMPTZ
);

CREATE INDEX IF NOT EXISTS idx_pages_slug ON public.pages(slug);
CREATE INDEX IF NOT EXISTS idx_pages_status ON public.pages(status);

-- 2. PAGE SECTIONS TABLE
CREATE TABLE IF NOT EXISTS public.page_sections (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    page_id UUID NOT NULL REFERENCES public.pages(id) ON DELETE CASCADE,
    section_type TEXT NOT NULL,
    label TEXT,
    sort_order INTEGER NOT NULL DEFAULT 0,
    is_visible BOOLEAN NOT NULL DEFAULT true,
    config JSONB NOT NULL DEFAULT '{}'::jsonb,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_page_sections_page_id ON public.page_sections(page_id);
CREATE INDEX IF NOT EXISTS idx_page_sections_page_sort ON public.page_sections(page_id, sort_order);

-- 3. NAVIGATION ITEMS TABLE
CREATE TABLE IF NOT EXISTS public.navigation_items (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    location TEXT NOT NULL DEFAULT 'header',
    label TEXT NOT NULL,
    href TEXT,
    item_type TEXT DEFAULT 'link',
    parent_id UUID REFERENCES public.navigation_items(id) ON DELETE CASCADE,
    sort_order INTEGER DEFAULT 0,
    is_visible BOOLEAN DEFAULT true,
    open_in_new_tab BOOLEAN DEFAULT false,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_navigation_location ON public.navigation_items(location);
CREATE INDEX IF NOT EXISTS idx_navigation_parent_id ON public.navigation_items(parent_id);
CREATE INDEX IF NOT EXISTS idx_navigation_location_sort ON public.navigation_items(location, sort_order);

-- 4. SITE SETTINGS TABLE
CREATE TABLE IF NOT EXISTS public.site_settings (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    key TEXT UNIQUE NOT NULL,
    value JSONB NOT NULL DEFAULT '{}'::jsonb,
    is_public BOOLEAN NOT NULL DEFAULT false,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_site_settings_key ON public.site_settings(key);
CREATE INDEX IF NOT EXISTS idx_site_settings_public ON public.site_settings(is_public);

-- 5. ROW LEVEL SECURITY (RLS) POLICIES
ALTER TABLE public.pages ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.page_sections ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.navigation_items ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.site_settings ENABLE ROW LEVEL SECURITY;

-- Pages RLS
CREATE POLICY "Public can read published pages"
    ON public.pages FOR SELECT
    USING (status = 'published');

CREATE POLICY "Admins have full access to pages"
    ON public.pages FOR ALL
    USING (public.is_admin());

-- Page Sections RLS
CREATE POLICY "Public can read visible page sections"
    ON public.page_sections FOR SELECT
    USING (
        is_visible = true AND
        EXISTS (
            SELECT 1 FROM public.pages
            WHERE id = page_sections.page_id AND status = 'published'
        )
    );

CREATE POLICY "Admins have full access to page sections"
    ON public.page_sections FOR ALL
    USING (public.is_admin());

-- Navigation Items RLS
CREATE POLICY "Public can read visible navigation items"
    ON public.navigation_items FOR SELECT
    USING (is_visible = true);

CREATE POLICY "Admins have full access to navigation items"
    ON public.navigation_items FOR ALL
    USING (public.is_admin());

-- Site Settings RLS (Secured: public SELECT requires is_public = true)
CREATE POLICY "Public can read public site settings"
    ON public.site_settings FOR SELECT
    USING (is_public = true);

CREATE POLICY "Admins have full access to site settings"
    ON public.site_settings FOR ALL
    USING (public.is_admin());

-- 6. UPDATED_AT TRIGGER FUNCTION & TRIGGERS
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER update_pages_modtime
    BEFORE UPDATE ON public.pages
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE OR REPLACE TRIGGER update_page_sections_modtime
    BEFORE UPDATE ON public.page_sections
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE OR REPLACE TRIGGER update_navigation_items_modtime
    BEFORE UPDATE ON public.navigation_items
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();

CREATE OR REPLACE TRIGGER update_site_settings_modtime
    BEFORE UPDATE ON public.site_settings
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
-- ==============================================================================
-- SUPABASE CMS SCHEMA MIGRATION: 007_cms_registry.sql
-- Description: Content Registry metadata table for Portfolio (Case Studies, Agents, Plugins, Blog).
-- ==============================================================================

-- 1. CONTENT REGISTRY TABLE
CREATE TABLE IF NOT EXISTS public.content_registry (
    id UUID PRIMARY KEY DEFAULT uuid_generate_v4(),
    slug TEXT UNIQUE NOT NULL,
    content_type TEXT NOT NULL,
    title TEXT NOT NULL,
    status TEXT NOT NULL DEFAULT 'draft',
    visibility TEXT NOT NULL DEFAULT 'public',
    featured BOOLEAN NOT NULL DEFAULT false,
    sort_order INTEGER NOT NULL DEFAULT 0,
    public_route TEXT,
    metadata JSONB NOT NULL DEFAULT '{}'::jsonb,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),

    -- Constraints
    CONSTRAINT chk_registry_content_type CHECK (
        content_type IN ('case-study', 'agent', 'plugin', 'blog', 'other')
    ),
    CONSTRAINT chk_registry_status CHECK (
        status IN ('draft', 'published', 'archived')
    ),
    CONSTRAINT chk_registry_visibility CHECK (
        visibility IN ('public', 'private')
    )
);

-- 2. INDEXES
CREATE INDEX IF NOT EXISTS idx_content_registry_slug ON public.content_registry(slug);
CREATE INDEX IF NOT EXISTS idx_content_registry_type ON public.content_registry(content_type);
CREATE INDEX IF NOT EXISTS idx_content_registry_status ON public.content_registry(status);
CREATE INDEX IF NOT EXISTS idx_content_registry_visibility ON public.content_registry(visibility);
CREATE INDEX IF NOT EXISTS idx_content_registry_sort ON public.content_registry(sort_order ASC);
CREATE INDEX IF NOT EXISTS idx_content_registry_featured ON public.content_registry(featured);

-- 3. ROW LEVEL SECURITY (RLS)
ALTER TABLE public.content_registry ENABLE ROW LEVEL SECURITY;

-- Anonymous and general public can ONLY read published and public registry entries
DROP POLICY IF EXISTS "Public can read published public registry entries" ON public.content_registry;
CREATE POLICY "Public can read published public registry entries"
    ON public.content_registry FOR SELECT
    USING (status = 'published' AND visibility = 'public');

-- Authorized admins have full CRUD access
DROP POLICY IF EXISTS "Admins have full access to content registry" ON public.content_registry;
CREATE POLICY "Admins have full access to content registry"
    ON public.content_registry FOR ALL
    USING (public.is_admin());

-- 4. UPDATED_AT TRIGGER
CREATE OR REPLACE FUNCTION update_updated_at_column()
RETURNS TRIGGER AS $$
BEGIN
    NEW.updated_at = NOW();
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

DROP TRIGGER IF EXISTS update_content_registry_modtime ON public.content_registry;
CREATE TRIGGER update_content_registry_modtime
    BEFORE UPDATE ON public.content_registry
    FOR EACH ROW EXECUTE FUNCTION update_updated_at_column();
-- Phase 13: Migrate Case Study Content to content_registry.metadata.caseStudy
-- Idempotent content migration script

UPDATE content_registry
SET metadata = '{"tags":["Product Design","UX/UI","AI"],"badge":"01","kicker":"PRODUCT - QR - LOST & FOUND","subtitle":"A QR-powered recovery experience designed around one principle: the finder should not have to become a user.","caseStudy":{"version":1,"type":"custom","title":"WINNI","subtitle":"Giving lost things a way back.","customComponent":"WinniCaseStudy"},"description":"A QR-powered recovery experience designed around one principle: the finder should not have to become a user."}'::jsonb,
    updated_at = NOW()
WHERE slug = 'winni';

UPDATE content_registry
SET metadata = '{"tags":["Product Design","AI","RAG"],"year":2025,"badge":"02","kicker":"PRODUCT - OPERATIONAL INTELLIGENCE","subtitle":"Designing an operational layer that connects estimation, delivery, margins, cash flow and AI-assisted decisions.","caseStudy":{"version":1,"type":"custom","title":"Assestini","subtitle":"Operational Intelligence Platform","customComponent":"AssestiniCaseStudy"},"description":"Designing an operational layer that connects estimation, delivery, margins, cash flow and AI-assisted decisions."}'::jsonb,
    updated_at = NOW()
WHERE slug = 'assestini';

UPDATE content_registry
SET metadata = '{"tags":["Front-End","Bootstrap","Figma"],"badge":"03","kicker":"WEB Â· FIGMA â†’ CODE","subtitle":"Translating a Figma interface into responsive HTML, CSS, Bootstrap and JavaScript for a community platform.","caseStudy":{"version":1,"type":"standard","hero":{"eyebrow":"WEB DESIGN â†’ FRONT-END INTEGRATION","title":"Cha9a9a","lead":"Turning a Figma interface into a responsive HTML/CSS/Bootstrap/JavaScript experience for a community platform.","metaChips":["Cha9a9a.tn / web under construction","UI Developer Â· Front-End Integrator"],"image":"cha9a9a-homepage-reference.png","imageAlt":"Cha9a9a homepage reference screenshot supplied by NaÃ¯m","caption":"Selected project evidence."},"challenge":{"eyebrow":"THE CHALLENGE","title":"Translate a visual concept into a responsive, usable web experience.","copy":"Cha9a9a is a community-oriented platform concept. My role focused on taking the approved Figma direction and translating it into a responsive front-end experience while preserving the visual hierarchy, cards, calls to action and content rhythm.","role":"UI Developer Â· Front-End Integrator","context":"Cha9a9a.tn Â· website currently under construction"},"contribution":{"eyebrow":"MY CONTRIBUTION","title":"From Figma handoff to implementation.","items":["Integrated the approved Figma mockups into semantic HTML.","Built responsive layouts with CSS and Bootstrap.","Implemented interactive behaviors with JavaScript.","Translated cards, navigation, hero sections, categories and FAQ patterns into reusable UI structures.","Focused on visual fidelity between design and browser output.","Prepared the implementation so content and imagery can evolve without rebuilding the interface."],"process":[{"step":"01","title":"Read","desc":"Understand the Figma structure, components, spacing and hierarchy."},{"step":"02","title":"Translate","desc":"Convert visual decisions into semantic HTML and Bootstrap layout."},{"step":"03","title":"Refine","desc":"Tune CSS, typography, spacing and responsive behavior."},{"step":"04","title":"Validate","desc":"Compare browser output with the intended design and iterate."}]},"evidence":{"eyebrow":"DESIGN â†’ CODE","title":"A snapshot of the interface I translated into front-end.","image":"cha9a9a-homepage-reference.png","imageAlt":"Cha9a9a.tn homepage screenshot showing the Figma-to-HTML implementation target","caption":"Cha9a9a.tn â€” provided homepage reference showing the visual system, content structure and responsive UI target."},"technology":{"eyebrow":"TECHNOLOGY","title":"Tools and technologies","tags":["Figma","HTML","CSS","Bootstrap","JavaScript","Responsive UI"]}},"description":"Translating a Figma interface into responsive HTML, CSS, Bootstrap and JavaScript for a community platform."}'::jsonb,
    updated_at = NOW()
WHERE slug = 'cha9a9a';

UPDATE content_registry
SET metadata = '{"tags":["n8n","OpenAI","RAG"],"badge":"04","kicker":"AI AGENT","logoMark":{"letter":"NC","className":"copilot"},"subtitle":"AI Agent Â· n8n Â· Memory Â· Actions","caseStudy":{"version":1,"type":"standard","hero":{"eyebrow":"AI SYSTEM Â· N8N Â· PERSONAL OPERATING LAYER","title":"NaÃ¯m Copilot","lead":"A personal AI agent that connects memory, knowledge, projects and actions so work can be queried and updated through a single conversational interface.","metaChips":["Personal AI system","AI Product Designer Â· AI Builder Â· Automation Architect"],"image":"cover-copilot-naim.png","imageAlt":"NaÃ¯m Copilot n8n workflow screenshot showing Telegram, AI Agent, memory and project tools","caption":null},"challenge":{"eyebrow":"THE CHALLENGE","title":"A clear problem deserves a clear product response.","copy":"How can one assistant understand my professional context, remember decisions, search projects and trigger actions instead of behaving like a generic chatbot?","role":"AI Product Designer Â· AI Builder Â· Automation Architect","context":"Personal AI system"},"contribution":{"eyebrow":"WHAT I DID","title":"From ambiguity to a usable system.","items":["Designed the conversational operating model around memory, knowledge and project state.","Built an n8n workflow for Telegram text and voice input.","Connected PostgreSQL chat memory and structured knowledge.","Added project search, project update, decision context and action planning tools."],"process":[{"step":"01","title":"Frame","desc":"Clarify the problem, users and constraints."},{"step":"02","title":"Structure","desc":"Turn requirements into flows and product logic."},{"step":"03","title":"Design","desc":"Create clear, reusable and implementation-ready UI."},{"step":"04","title":"Build","desc":"Connect the design to technology and iterate."}]},"evidence":{"eyebrow":"SELECTED EVIDENCE","title":"The work behind the interface.","image":"The-work-behind-the-interface.png","imageAlt":"NaÃ¯m Copilot n8n workflow screenshot showing Telegram, AI Agent, memory and project tools","caption":null},"technology":{"eyebrow":"TECHNOLOGY","title":"Technology","tags":["n8n","Google Gemini","PostgreSQL","Telegram","AI Agents","RAG","MCP","Automation"]}},"description":"AI Agent Â· n8n Â· Memory Â· Actions"}'::jsonb,
    updated_at = NOW()
WHERE slug = 'naim-copilot';

UPDATE content_registry
SET metadata = '{"tags":["n8n","Gemini","Telegram"],"badge":"05","kicker":"AI AUTOMATION","subtitle":"Daily Job Search Â· AI scoring","caseStudy":{"version":1,"type":"standard","hero":{"eyebrow":"AI AUTOMATION Â· JOB SEARCH Â· SCORING","title":"Career OS Â· Daily Job Search","lead":"An automated career-search workflow that collects opportunities, removes duplicates, scores fit and sends a focused daily digest.","metaChips":["Personal automation system","Product Designer Â· AI Workflow Builder"],"image":"daily-jobsearch-os-cover.png","imageAlt":"Career OS n8n workflow screenshot showing job sources, deduplication, AI fit scoring and digest","caption":null},"challenge":{"eyebrow":"THE CHALLENGE","title":"A clear problem deserves a clear product response.","copy":"How can repetitive job searching become a consistent pipeline where relevant roles are collected, evaluated and prioritized automatically?","role":"Product Designer Â· AI Workflow Builder","context":"Personal automation system"},"contribution":{"eyebrow":"WHAT I DID","title":"From ambiguity to a usable system.","items":["Combined multiple remote job sources.","Flattened and deduplicated results to keep only new URLs.","Used an AI scoring step to assess fit against the career profile.","Saved results to a pipeline and delivered email / Telegram digests."],"process":[{"step":"01","title":"Frame","desc":"Clarify the problem, users and constraints."},{"step":"02","title":"Structure","desc":"Turn requirements into flows and product logic."},{"step":"03","title":"Design","desc":"Create clear, reusable and implementation-ready UI."},{"step":"04","title":"Build","desc":"Connect the design to technology and iterate."}]},"evidence":{"eyebrow":"SELECTED EVIDENCE","title":"The work behind the interface.","image":"daily-jobsearch-os-cover.png","imageAlt":"Career OS n8n workflow screenshot showing job sources, deduplication, AI fit scoring and digest","caption":null},"technology":{"eyebrow":"TECHNOLOGY","title":"Technology","tags":["n8n","Google Gemini","Job APIs","PostgreSQL","AI scoring","Email","Telegram"]}},"description":"Daily Job Search Â· AI scoring"}'::jsonb,
    updated_at = NOW()
WHERE slug = 'career-os';

UPDATE content_registry
SET metadata = '{"tags":["OutSystems","Figma"],"badge":"06","kicker":"DIGITAL SERVICES","subtitle":"Digital services Â· UX/UI Â· OutSystems","caseStudy":{"version":1,"type":"standard","hero":{"eyebrow":"SAUDI ARABIA Â· GOVERNMENT SECTOR","title":"Saudi Â· Government Digital Services","lead":"UX/UI and low-code product work delivered through ENVNT / Wevioo for Saudi digital environments. Client project names are intentionally omitted from the public portfolio.","metaChips":["ENVNT / Wevioo Â· Saudi Arabia","Senior UX/UI Designer Â· UI Developer"],"image":"dga_government_services_case_hero_skeleton.png","imageAlt":"approved Saudi government digital service interface screenshot, with confidential project names removed","caption":null},"challenge":{"eyebrow":"THE CHALLENGE","title":"A clear problem deserves a clear product response.","copy":"How can complex government requirements and workflows become clear, consistent and production-ready digital interfaces?","role":"Senior UX/UI Designer Â· UI Developer","context":"ENVNT / Wevioo Â· Saudi Arabia"},"contribution":{"eyebrow":"WHAT I DID","title":"From ambiguity to a usable system.","items":["Translated requirements and workflows into usable interfaces.","Designed responsive screens and reusable UI patterns.","Collaborated with business and development teams.","Implemented UI in OutSystems where required."],"process":[{"step":"01","title":"Frame","desc":"Clarify the problem, users and constraints."},{"step":"02","title":"Structure","desc":"Turn requirements into flows and product logic."},{"step":"03","title":"Design","desc":"Create clear, reusable and implementation-ready UI."},{"step":"04","title":"Build","desc":"Connect the design to technology and iterate."}]},"evidence":{"eyebrow":"SELECTED EVIDENCE","title":"The work behind the interface.","image":"dga_government_services_case_evidence_skeleton.png","imageAlt":"approved Saudi government digital service interface screenshot, with confidential project names removed","caption":null},"technology":{"eyebrow":"TECHNOLOGY","title":"Technology","tags":["Figma","UX/UI","OutSystems","Design Systems","Responsive UI"]}},"description":"Digital services Â· UX/UI Â· OutSystems"}'::jsonb,
    updated_at = NOW()
WHERE slug = 'saudi-government';

UPDATE content_registry
SET metadata = '{"tags":["Mendix","Figma"],"badge":"07","kicker":"FINANCIAL SERVICES","subtitle":"Financial services Â· UX/UI Â· Mendix","caseStudy":{"version":1,"type":"standard","hero":{"eyebrow":"SAUDI ARABIA Â· BANKING SECTOR","title":"Saudi Â· Banking & Financial Services","lead":"UX/UI and Mendix interface work in a Saudi banking environment through ENVNT / Wevioo. Confidential client and project names are intentionally omitted.","metaChips":["ENVNT / Wevioo Â· Saudi Arabia","UX Designer Â· Mendix UI Developer"],"image":"dga_antifraud_case_hero_skeleton_v2.png","imageAlt":"approved Saudi banking interface skeleton","caption":null},"challenge":{"eyebrow":"THE CHALLENGE","title":"A clear problem deserves a clear product response.","copy":"How can business requirements, use cases and workflows be translated into a clear banking interface that can be implemented in a low-code environment?","role":"UX Designer Â· Mendix UI Developer","context":"ENVNT / Wevioo Â· Saudi Arabia"},"contribution":{"eyebrow":"WHAT I DID","title":"From ambiguity to a usable system.","items":["Translated SRS, use cases and workflows into Figma interfaces.","Worked with BA and development teams to clarify the experience.","Implemented UI components and screens in Mendix.","Worked within the context of regulated financial services."],"process":[{"step":"01","title":"Frame","desc":"Clarify the problem, users and constraints."},{"step":"02","title":"Structure","desc":"Turn requirements into flows and product logic."},{"step":"03","title":"Design","desc":"Create clear, reusable and implementation-ready UI."},{"step":"04","title":"Build","desc":"Connect the design to technology and iterate."}]},"evidence":{"eyebrow":"SELECTED EVIDENCE","title":"The work behind the interface.","image":"dga_antifraud_case_evidence_skeleton_v2.png","imageAlt":"approved Saudi banking interface evidence skeleton","caption":null},"technology":{"eyebrow":"TECHNOLOGY","title":"Technology","tags":["Figma","Mendix","UX/UI","SRS","Low-Code","Design Systems"]}},"description":"Financial services Â· UX/UI Â· Mendix"}'::jsonb,
    updated_at = NOW()
WHERE slug = 'saudi-banking';

UPDATE content_registry
SET metadata = '{"tags":["OutSystems","Figma"],"badge":"08","kicker":"GOVERNMENT DESIGN SYSTEM","subtitle":"Government design system Â· UI Â· OutSystems","caseStudy":{"version":1,"type":"standard","hero":{"eyebrow":"SAUDI ARABIA Â· DIGITAL GOVERNMENT","title":"DGA Â· Digital Government Experience","lead":"A focused look at my contribution to digital government UX/UI and design-system work in Saudi Arabia.","metaChips":["ENVNT / Wevioo Â· Saudi Arabia","UX/UI Designer Â· Design System Contributor Â· OutSystems UI"],"image":"dga_digital_government_case_hero_skeleton.png","imageAlt":"approved Saudi government digital service interface screenshot, with confidential project names removed","caption":null},"challenge":{"eyebrow":"THE CHALLENGE","title":"A clear problem deserves a clear product response.","copy":"How can government interfaces remain consistent, accessible and implementation-ready across digital services?","role":"UX/UI Designer Â· Design System Contributor Â· OutSystems UI","context":"ENVNT / Wevioo Â· Saudi Arabia"},"contribution":{"eyebrow":"WHAT I DID","title":"From ambiguity to a usable system.","items":["Worked on UX/UI for digital government services.","Contributed to reusable design-system patterns.","Translated visual design into OutSystems UI.","Collaborated with delivery teams across design and development."],"process":[{"step":"01","title":"Frame","desc":"Clarify the problem, users and constraints."},{"step":"02","title":"Structure","desc":"Turn requirements into flows and product logic."},{"step":"03","title":"Design","desc":"Create clear, reusable and implementation-ready UI."},{"step":"04","title":"Build","desc":"Connect the design to technology and iterate."}]},"evidence":{"eyebrow":"SELECTED EVIDENCE","title":"The work behind the interface.","image":"dga_digital_government_case_evidence_skeleton.png","imageAlt":"approved DGA-related interface or design-system screenshot, with confidential project details removed","caption":null},"technology":{"eyebrow":"TECHNOLOGY","title":"Technology","tags":["Figma","Design Systems","OutSystems","UX/UI","Government Digital Services"]}},"description":"Government design system Â· UI Â· OutSystems"}'::jsonb,
    updated_at = NOW()
WHERE slug = 'dga';

UPDATE content_registry
SET metadata = '{"tags":["OutSystems","Figma"],"badge":"09","kicker":"REGULATED DIGITAL SERVICES","subtitle":"Regulated digital services Â· UX/UI Â· OutSystems","caseStudy":{"version":1,"type":"standard","hero":{"eyebrow":"SAUDI ARABIA Â· REGULATORY / HEALTHCARE","title":"Saudi Â· Regulatory / Healthcare Digital Services","lead":"UX/UI and OutSystems interface work for regulated digital services through ENVNT / Wevioo, presented publicly by sector rather than client project name.","metaChips":["ENVNT / Wevioo Â· Saudi Arabia","UX/UI Designer Â· OutSystems UI"],"image":"dga_regulatory_healthcare_case_hero_skeleton.png","imageAlt":"approved Saudi regulatory or healthcare service interface screenshot, anonymized for public portfolio","caption":null},"challenge":{"eyebrow":"THE CHALLENGE","title":"A clear problem deserves a clear product response.","copy":"How can regulated service workflows be made easier to understand and use while staying consistent with an existing digital platform?","role":"UX/UI Designer Â· OutSystems UI","context":"ENVNT / Wevioo Â· Saudi Arabia"},"contribution":{"eyebrow":"WHAT I DID","title":"From ambiguity to a usable system.","items":["Designed and refined service interfaces.","Worked within existing product and design constraints.","Created responsive UI patterns for low-code implementation.","Collaborated with delivery teams to iterate on the experience."],"process":[{"step":"01","title":"Frame","desc":"Clarify the problem, users and constraints."},{"step":"02","title":"Structure","desc":"Turn requirements into flows and product logic."},{"step":"03","title":"Design","desc":"Create clear, reusable and implementation-ready UI."},{"step":"04","title":"Build","desc":"Connect the design to technology and iterate."}]},"evidence":{"eyebrow":"SELECTED EVIDENCE","title":"The work behind the interface.","image":"dga_regulatory_healthcare_case_evidence_skeleton.png","imageAlt":"approved Saudi regulatory or healthcare service interface screenshot, anonymized for public portfolio","caption":null},"technology":{"eyebrow":"TECHNOLOGY","title":"Technology","tags":["Figma","OutSystems","UX/UI","Responsive Design","Design Systems"]}},"description":"Regulated digital services Â· UX/UI Â· OutSystems"}'::jsonb,
    updated_at = NOW()
WHERE slug = 'saudi-regulatory';
-- ==============================================================================
-- SUPABASE CMS SCHEMA MIGRATION: 009_site_cms_navigation_and_about_registry.sql
-- Description: Seed default navigation items (Header & Footer) and ensure About page is registered in Content Registry.
-- Backward-compatible, additive, idempotent.
-- ==============================================================================

-- 1. Ensure About Page exists in content_registry

-- 2. Seed default Header Navigation Items if table is empty
DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM public.navigation_items WHERE location = 'header') THEN
        INSERT INTO public.navigation_items (id, location, label, href, item_type, sort_order, is_visible, open_in_new_tab)
        VALUES
            (uuid_generate_v4(), 'header', 'Work', '/work', 'link', 10, true, false),
            (uuid_generate_v4(), 'header', 'Agents', '/agents', 'link', 20, true, false),
            (uuid_generate_v4(), 'header', 'Copilot', '/copilot', 'link', 30, true, false),
            (uuid_generate_v4(), 'header', 'About', '/about', 'link', 40, true, false);
    END IF;
END $$;

-- 3. Seed default Footer Navigation Items if table is empty
DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM public.navigation_items WHERE location = 'footer') THEN
        INSERT INTO public.navigation_items (id, location, label, href, item_type, sort_order, is_visible, open_in_new_tab)
        VALUES
            (uuid_generate_v4(), 'footer', 'Work', '/work', 'link', 10, true, false),
            (uuid_generate_v4(), 'footer', 'Case Studies', '/work', 'link', 20, true, false),
            (uuid_generate_v4(), 'footer', 'Agents', '/agents', 'link', 30, true, false),
            (uuid_generate_v4(), 'footer', 'Copilot', '/copilot', 'link', 40, true, false),
            (uuid_generate_v4(), 'footer', 'About', '/about', 'link', 50, true, false);
    END IF;
END $$;
-- ==============================================================================
-- SUPABASE CMS SCHEMA MIGRATION: 010_phase18_1_cms_integrity.sql
-- Description:
--   1. Correct check constraint "chk_registry_content_type" on content_registry to allow 'page'.
--   2. Safely register About page in content_registry with idempotent ON CONFLICT upsert.
--   3. Ensure comprehensive Header & Footer navigation items (including Career & Lab) without duplicates.
-- Backward-compatible, additive, idempotent.
-- ==============================================================================

-- 1. Correct check constraint on content_registry to include 'page'
ALTER TABLE public.content_registry DROP CONSTRAINT IF EXISTS chk_registry_content_type;
ALTER TABLE public.content_registry ADD CONSTRAINT chk_registry_content_type CHECK (
    content_type IN ('case-study', 'agent', 'plugin', 'blog', 'page', 'other')
);

-- 2. Ensure About Page exists in content_registry

-- 3. Ensure draft Blog page exists in pages and content_registry (Page Builder architecture, non-public draft)
INSERT INTO public.pages (
    id,
    slug,
    title,
    status,
    template,
    seo_title,
    seo_description,
    canonical_url
)
VALUES (
    'c8479e3a-1294-4d87-8df0-721df904ea88',
    'blog',
    'Blog',
    'draft',
    'default',
    'Blog & Writing â€” NaÃ¯m Bsili',
    'Thoughts and notes on design systems, AI engineering, and product craft.',
    '/p/blog'
)
ON CONFLICT (slug) DO NOTHING;


-- 4. Ensure Header Navigation Items exist (including Career and Lab)
DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM public.navigation_items WHERE location = 'header' AND href = '/work') THEN
        INSERT INTO public.navigation_items (id, location, label, href, item_type, sort_order, is_visible, open_in_new_tab)
        VALUES (uuid_generate_v4(), 'header', 'Work', '/work', 'link', 10, true, false);
    END IF;

    IF NOT EXISTS (SELECT 1 FROM public.navigation_items WHERE location = 'header' AND href = '/agents') THEN
        INSERT INTO public.navigation_items (id, location, label, href, item_type, sort_order, is_visible, open_in_new_tab)
        VALUES (uuid_generate_v4(), 'header', 'Agents', '/agents', 'link', 20, true, false);
    END IF;

    IF NOT EXISTS (SELECT 1 FROM public.navigation_items WHERE location = 'header' AND href = '/copilot') THEN
        INSERT INTO public.navigation_items (id, location, label, href, item_type, sort_order, is_visible, open_in_new_tab)
        VALUES (uuid_generate_v4(), 'header', 'Copilot', '/copilot', 'link', 30, true, false);
    END IF;

    IF NOT EXISTS (SELECT 1 FROM public.navigation_items WHERE location = 'header' AND href IN ('#career', '/#career')) THEN
        INSERT INTO public.navigation_items (id, location, label, href, item_type, sort_order, is_visible, open_in_new_tab)
        VALUES (uuid_generate_v4(), 'header', 'Career', '#career', 'link', 40, true, false);
    END IF;

    IF NOT EXISTS (SELECT 1 FROM public.navigation_items WHERE location = 'header' AND href IN ('#lab', '/#lab')) THEN
        INSERT INTO public.navigation_items (id, location, label, href, item_type, sort_order, is_visible, open_in_new_tab)
        VALUES (uuid_generate_v4(), 'header', 'Lab', '#lab', 'link', 50, true, false);
    END IF;

    IF NOT EXISTS (SELECT 1 FROM public.navigation_items WHERE location = 'header' AND href = '/about') THEN
        INSERT INTO public.navigation_items (id, location, label, href, item_type, sort_order, is_visible, open_in_new_tab)
        VALUES (uuid_generate_v4(), 'header', 'About', '/about', 'link', 60, true, false);
    END IF;
END $$;

-- 5. Ensure Footer Navigation Items exist (including Career and Lab)
DO $$
BEGIN
    IF NOT EXISTS (SELECT 1 FROM public.navigation_items WHERE location = 'footer' AND href = '/work' AND label = 'Work') THEN
        INSERT INTO public.navigation_items (id, location, label, href, item_type, sort_order, is_visible, open_in_new_tab)
        VALUES (uuid_generate_v4(), 'footer', 'Work', '/work', 'link', 10, true, false);
    END IF;

    IF NOT EXISTS (SELECT 1 FROM public.navigation_items WHERE location = 'footer' AND label = 'Case Studies') THEN
        INSERT INTO public.navigation_items (id, location, label, href, item_type, sort_order, is_visible, open_in_new_tab)
        VALUES (uuid_generate_v4(), 'footer', 'Case Studies', '/work', 'link', 20, true, false);
    END IF;

    IF NOT EXISTS (SELECT 1 FROM public.navigation_items WHERE location = 'footer' AND href = '/agents') THEN
        INSERT INTO public.navigation_items (id, location, label, href, item_type, sort_order, is_visible, open_in_new_tab)
        VALUES (uuid_generate_v4(), 'footer', 'Agents', '/agents', 'link', 30, true, false);
    END IF;

    IF NOT EXISTS (SELECT 1 FROM public.navigation_items WHERE location = 'footer' AND href = '/copilot') THEN
        INSERT INTO public.navigation_items (id, location, label, href, item_type, sort_order, is_visible, open_in_new_tab)
        VALUES (uuid_generate_v4(), 'footer', 'Copilot', '/copilot', 'link', 40, true, false);
    END IF;

    IF NOT EXISTS (SELECT 1 FROM public.navigation_items WHERE location = 'footer' AND href IN ('#career', '/#career')) THEN
        INSERT INTO public.navigation_items (id, location, label, href, item_type, sort_order, is_visible, open_in_new_tab)
        VALUES (uuid_generate_v4(), 'footer', 'Career', '#career', 'link', 50, true, false);
    END IF;

    IF NOT EXISTS (SELECT 1 FROM public.navigation_items WHERE location = 'footer' AND href IN ('#lab', '/#lab')) THEN
        INSERT INTO public.navigation_items (id, location, label, href, item_type, sort_order, is_visible, open_in_new_tab)
        VALUES (uuid_generate_v4(), 'footer', 'Lab', '#lab', 'link', 60, true, false);
    END IF;

    IF NOT EXISTS (SELECT 1 FROM public.navigation_items WHERE location = 'footer' AND href = '/about') THEN
        INSERT INTO public.navigation_items (id, location, label, href, item_type, sort_order, is_visible, open_in_new_tab)
        VALUES (uuid_generate_v4(), 'footer', 'About', '/about', 'link', 70, true, false);
    END IF;
END $$;
-- ==============================================================================
-- SUPABASE CMS SCHEMA MIGRATION: 011_phase19_content_operations.sql
-- Description:
--   1. Extend content_status enum and check constraints to support editorial lifecycle:
--      draft -> in_review -> ready -> published -> archived.
--   2. Ensure Blog content type has authoritative schema and initial seed in content_registry.
--   3. Backward-compatible, additive, idempotent.
-- ==============================================================================

-- 1. Extend content_status enum if exists
DO $$
BEGIN
    IF EXISTS (SELECT 1 FROM pg_type WHERE typname = 'content_status') THEN
        BEGIN
            ALTER TYPE content_status ADD VALUE IF NOT EXISTS 'in_review';
        EXCEPTION
            WHEN duplicate_object THEN null;
        END;
        BEGIN
            ALTER TYPE content_status ADD VALUE IF NOT EXISTS 'ready';
        EXCEPTION
            WHEN duplicate_object THEN null;
        END;
    END IF;
END $$;

-- 2. Update check constraint on content_registry status
ALTER TABLE public.content_registry DROP CONSTRAINT IF EXISTS chk_registry_status;
ALTER TABLE public.content_registry ADD CONSTRAINT chk_registry_status CHECK (
    status IN ('draft', 'in_review', 'ready', 'published', 'archived')
);

-- 3. Ensure content_registry content_type check constraint includes blog and page
ALTER TABLE public.content_registry DROP CONSTRAINT IF EXISTS chk_registry_content_type;
ALTER TABLE public.content_registry ADD CONSTRAINT chk_registry_content_type CHECK (
    content_type IN ('case-study', 'agent', 'plugin', 'blog', 'page', 'other')
);

-- 4. Seed Canonical Blog Post in Content Registry (Published & Public)

-- 5. Seed second draft Blog Post in Content Registry (In Review Editorial state)
-- ==============================================================================
-- SUPABASE CMS SCHEMA MIGRATION: 012_phase19_2_navigation_blog.sql
-- Description:
--   1. Ensure Blog is registered as a canonical header and footer navigation item.
--   2. Authoritative source of truth: public.navigation_items.
--   3. Idempotent, additive, non-destructive.
-- ==============================================================================

DO $$
BEGIN
    -- 1. Header Blog item (sort_order 25: between Agents at 20 and Copilot at 30)
    IF NOT EXISTS (
        SELECT 1 FROM public.navigation_items
        WHERE location = 'header' AND (href = '/blog' OR label = 'Blog')
    ) THEN
        INSERT INTO public.navigation_items (
            id,
            location,
            label,
            href,
            item_type,
            sort_order,
            is_visible,
            open_in_new_tab,
            created_at,
            updated_at
        ) VALUES (
            uuid_generate_v4(),
            'header',
            'Blog',
            '/blog',
            'link',
            25,
            true,
            false,
            NOW(),
            NOW()
        );
    END IF;

    -- 2. Footer Blog item
    IF NOT EXISTS (
        SELECT 1 FROM public.navigation_items
        WHERE location = 'footer' AND (href = '/blog' OR label = 'Blog')
    ) THEN
        INSERT INTO public.navigation_items (
            id,
            location,
            label,
            href,
            item_type,
            sort_order,
            is_visible,
            open_in_new_tab,
            created_at,
            updated_at
        ) VALUES (
            uuid_generate_v4(),
            'footer',
            'Blog',
            '/blog',
            'link',
            25,
            true,
            false,
            NOW(),
            NOW()
        );
    END IF;
END $$;
-- ==============================================================================
-- SUPABASE CMS SCHEMA MIGRATION: 013_resources_system.sql
-- Description:
--   1. Update chk_registry_content_type to allow 'resource' in content_registry.
--   2. Seed first-class reference resource 'app-ui-ux-auditor' with full rich metadata and assets.
-- Backward-compatible, additive, idempotent.
-- ==============================================================================

-- 1. Allow 'resource' in content_registry
ALTER TABLE public.content_registry DROP CONSTRAINT IF EXISTS chk_registry_content_type;
ALTER TABLE public.content_registry ADD CONSTRAINT chk_registry_content_type CHECK (
    content_type IN ('case-study', 'agent', 'plugin', 'blog', 'page', 'resource', 'other')
);

-- 2. Upsert first-class reference Resource
INSERT INTO public.content_registry (
    id,
    title,
    slug,
    content_type,
    status,
    visibility,
    featured,
    sort_order,
    public_route,
    metadata
)
VALUES (
    'a71e8081-3c58-4509-9061-0dfae169542a',
    'App UI/UX & Responsive Design QA Auditor',
    'app-ui-ux-auditor',
    'resource',
    'published',
    'public',
    true,
    10,
    '/resources/app-ui-ux-auditor',
    jsonb_build_object(
        'resource_type', 'skill',
        'short_description', 'Autonomous QA agent skill for auditing enterprise web applications, testing multi-breakpoint responsive collapses, and generating publication-grade PDF and Excel deliverables.',
        'description', 'A battle-tested autonomous Agent Skill designed for Antigravity and compatible AI coding assistants. It executes comprehensive functional, workflow, UX heuristic, and responsive design audits across Desktop (1440px), Laptop (1024px), Tablet (768px), and Mobile (390px) viewports with zero manual screenshot pasting.',
        'version', '1.0.0',
        'author', 'NaÃ¯m Bsili',
        'license', 'MIT',
        'purpose', 'Automate enterprise application UI/UX audits, detect hidden responsive collapses, and generate client-ready PDF and Excel QA reports with real visual screenshot evidence.',
        'when_to_use', jsonb_build_array(
            'Auditing enterprise SaaS platforms, CMS portals, or client web applications.',
            'Verifying multi-device responsive behavior (Desktop 1440px, Tablet 768px, Mobile 390px).',
            'Detecting layout clipping, sticky footer occlusion, and naked-icon bottom navigation.',
            'Generating publication-grade PDF reports and Excel workbooks with embedded screenshot thumbnails.',
            'Checking bilingual Arabic/English RTL alignment and input usability.'
        ),
        'when_not_to_use', jsonb_build_array(
            'Auditing native mobile apps (iOS/Android native binaries).',
            'Backend performance load testing or SQL stress testing.',
            'Rebranding corporate visual identity or logos (brand design remains a fixed constraint).'
        ),
        'how_to_use', '### Step 1: Triggering the Audit
Provide Antigravity with a URL and define the desired scope:
```text
Audit https://cms-unifyapps-dev.modhs.med.sa for both UI and UX with PDF and Excel export.
```

### Step 2: Autonomous Execution Pipeline
1. **Live Browser Exploration:** Progressively maps navigation, tables, forms, and drawers.
2. **Multi-Viewport Captures:** Takes real screenshots at 1440Ã—900, 1024Ã—768, 768Ã—1024, and 390Ã—844.
3. **Heuristic Evaluation:** Evaluates cognitive load, filter degradation, touch targets (â‰¥44px), and Arabic RTL.
4. **Deliverable Generation:** Compiles structured findings into a 10-page budgeted PDF and a 3-sheet Excel workbook (.xlsx).',
        'installation', '### 1. Global Skill (All Projects)
Copy the skill directory to your user configuration root:
```bash
cp -r app-ui-ux-auditor ~/.gemini/config/skills/app-ui-ux-auditor
```

### 2. Workspace Skill (Project Specific)
Place in your repository''s agents directory:
```bash
cp -r app-ui-ux-auditor .agents/skills/app-ui-ux-auditor
```

### 3. Version Control
Commit the folder to Git to share with pair-programming team members.',
        'compatibility', jsonb_build_array(
            jsonb_build_object('name', 'Google Antigravity', 'status', 'verified', 'notes', 'Full browser subagent and tool integration'),
            jsonb_build_object('name', 'Claude (Computer Use)', 'status', 'compatible', 'notes', 'Compatible with standard browser execution'),
            jsonb_build_object('name', 'OpenAI Swarm / Custom Agents', 'status', 'not_verified', 'notes', 'Requires markdown prompt parsing')
        ),
        'source_url', 'https://github.com/naiimbsili/antigravity-skills',
        'repository_url', 'https://github.com/naiimbsili/antigravity-skills/tree/main/skills/app-ui-ux-auditor',
        'bundle_download_url', '/resources/app-ui-ux-auditor/app-ui-ux-auditor.zip',
        'tags', jsonb_build_array('Agent Skill', 'UI/UX Audit', 'Responsive QA', 'Design Systems', 'Automation'),
        'assets', jsonb_build_array(
            jsonb_build_object(
                'id', 'asset-1',
                'name', 'SKILL.md',
                'asset_type', 'documentation',
                'file_url', '/resources/app-ui-ux-auditor/SKILL.md',
                'description', 'Core instructions, prompt triggers, YAML metadata, and heuristic rules.',
                'is_required', true,
                'is_previewable', true,
                'is_downloadable', true,
                'sort_order', 10,
                'file_size', '6.7 KB'
            ),
            jsonb_build_object(
                'id', 'asset-2',
                'name', 'README.md',
                'asset_type', 'documentation',
                'file_url', '/resources/app-ui-ux-auditor/README.md',
                'description', 'Complete user guide, copy-paste prompts, and deliverable specifications.',
                'is_required', false,
                'is_previewable', true,
                'is_downloadable', true,
                'sort_order', 20,
                'file_size', '3.4 KB'
            ),
            jsonb_build_object(
                'id', 'asset-3',
                'name', 'pdf_generator.py',
                'asset_type', 'script',
                'file_url', '/resources/app-ui-ux-auditor/scripts/pdf_generator.py',
                'description', 'Headless Chrome PDF generator with A4 page budgeting and anti-banner-split CSS.',
                'is_required', false,
                'is_previewable', true,
                'is_downloadable', true,
                'sort_order', 30,
                'file_size', '2.1 KB'
            ),
            jsonb_build_object(
                'id', 'asset-4',
                'name', 'excel_generator.py',
                'asset_type', 'script',
                'file_url', '/resources/app-ui-ux-auditor/scripts/excel_generator.py',
                'description', 'Python openpyxl automation script for generating multi-sheet workbooks with embedded screenshot thumbnails.',
                'is_required', false,
                'is_previewable', true,
                'is_downloadable', true,
                'sort_order', 40,
                'file_size', '2.5 KB'
            ),
            jsonb_build_object(
                'id', 'asset-5',
                'name', 'Audit Notes Template.xlsx',
                'asset_type', 'template',
                'file_url', '/resources/app-ui-ux-auditor/audit-notes-template.xlsx',
                'description', 'Blank, structured 3-sheet audit workbook for recording heuristic findings and embedding visual proof.',
                'is_required', false,
                'is_previewable', false,
                'is_downloadable', true,
                'sort_order', 50,
                'file_size', '292 KB'
            ),
            jsonb_build_object(
                'id', 'asset-6',
                'name', 'Example Audit Report.pdf',
                'asset_type', 'example',
                'file_url', '/resources/app-ui-ux-auditor/example-audit-report.pdf',
                'description', 'Real-world 10-page audit deliverable generated for CMS UnifyApps with embedded cross-device evidence.',
                'is_required', false,
                'is_previewable', false,
                'is_downloadable', true,
                'sort_order', 60,
                'file_size', '2.3 MB'
            ),
            jsonb_build_object(
                'id', 'asset-7',
                'name', 'Dashboard Desktop (1440Ã—900)',
                'asset_type', 'screenshot',
                'file_url', '/resources/app-ui-ux-auditor/screenshots/dashboard-desktop-1440.png',
                'description', 'Widescreen overview layout baseline showing Recent Activity table.',
                'is_required', false,
                'is_previewable', true,
                'is_downloadable', true,
                'sort_order', 70,
                'file_size', '159 KB'
            ),
            jsonb_build_object(
                'id', 'asset-8',
                'name', 'Dashboard Mobile (390Ã—844)',
                'asset_type', 'screenshot',
                'file_url', '/resources/app-ui-ux-auditor/screenshots/dashboard-mobile-390.png',
                'description', 'Mobile responsive breakdown showing severe KPI card collision and text truncation.',
                'is_required', false,
                'is_previewable', true,
                'is_downloadable', true,
                'sort_order', 80,
                'file_size', '71 KB'
            ),
            jsonb_build_object(
                'id', 'asset-9',
                'name', 'Media Center Grid Collapse (390Ã—844)',
                'asset_type', 'screenshot',
                'file_url', '/resources/app-ui-ux-auditor/screenshots/media-mobile-390.png',
                'description', 'Mobile 4-column lock bug squeezing asset cards into 80px strips.',
                'is_required', false,
                'is_previewable', true,
                'is_downloadable', true,
                'sort_order', 90,
                'file_size', '151 KB'
            ),
            jsonb_build_object(
                'id', 'asset-10',
                'name', 'Drawer Form Sticky Footer Occlusion',
                'asset_type', 'screenshot',
                'file_url', '/resources/app-ui-ux-auditor/screenshots/add-page-drawer-form.png',
                'description', 'Modal drawer where bottom action buttons obscure lowest form input field.',
                'is_required', false,
                'is_previewable', true,
                'is_downloadable', true,
                'sort_order', 100,
                'file_size', '162 KB'
            ),
            jsonb_build_object(
                'id', 'asset-11',
                'name', 'app-ui-ux-auditor.zip',
                'asset_type', 'source',
                'file_url', '/resources/app-ui-ux-auditor/app-ui-ux-auditor.zip',
                'description', 'Complete offline skill bundle archive containing all markdown, scripts, templates, and screenshots.',
                'is_required', true,
                'is_previewable', false,
                'is_downloadable', true,
                'sort_order', 110,
                'file_size', '3.1 MB'
            )
        )
    )
)
ON CONFLICT (slug) DO UPDATE SET
    content_type = 'resource',
    public_route = '/resources/app-ui-ux-auditor',
    status = 'published',
    visibility = 'public',
    featured = true,
    metadata = EXCLUDED.metadata,
    updated_at = NOW();
-- ==============================================================================
-- SUPABASE CMS SCHEMA MIGRATION: 014_marketing_leads_downloads_donations.sql
-- Description:
--   1. Create marketing_leads table for lead capture and consent management.
--   2. Create resource_downloads table for download events and UTM tracking.
--   3. Create donations table for Ba9chich and supporter payment events.
--   4. Set up Row Level Security (RLS) policies.
-- Backward-compatible, additive, idempotent.
-- ==============================================================================

-- 1. Marketing Leads Table
CREATE TABLE IF NOT EXISTS public.marketing_leads (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    email TEXT NOT NULL UNIQUE,
    name TEXT NOT NULL,
    role TEXT,
    company TEXT,
    marketing_consent BOOLEAN NOT NULL DEFAULT false,
    consent_at TIMESTAMPTZ,
    source TEXT DEFAULT 'resource_download',
    first_seen_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    last_seen_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    metadata JSONB DEFAULT '{}'::jsonb,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_marketing_leads_email ON public.marketing_leads(email);
CREATE INDEX IF NOT EXISTS idx_marketing_leads_created_at ON public.marketing_leads(created_at DESC);

-- 2. Resource Downloads Table
CREATE TABLE IF NOT EXISTS public.resource_downloads (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    lead_id UUID REFERENCES public.marketing_leads(id) ON DELETE SET NULL,
    resource_id TEXT NOT NULL,
    resource_slug TEXT NOT NULL,
    resource_type TEXT NOT NULL DEFAULT 'resource',
    asset_name TEXT,
    source TEXT DEFAULT 'web',
    utm_source TEXT,
    utm_medium TEXT,
    utm_campaign TEXT,
    user_agent TEXT,
    ip_hash TEXT,
    downloaded_at TIMESTAMPTZ NOT NULL DEFAULT NOW()
);

CREATE INDEX IF NOT EXISTS idx_resource_downloads_lead_id ON public.resource_downloads(lead_id);
CREATE INDEX IF NOT EXISTS idx_resource_downloads_slug ON public.resource_downloads(resource_slug);
CREATE INDEX IF NOT EXISTS idx_resource_downloads_time ON public.resource_downloads(downloaded_at DESC);

-- 3. Donations / Supporters Table (Ba9chich & Supporters)
CREATE TABLE IF NOT EXISTS public.donations (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    payment_id TEXT NOT NULL,
    provider TEXT NOT NULL DEFAULT 'ba9chich',
    amount NUMERIC(10, 2) NOT NULL DEFAULT 0,
    asset TEXT NOT NULL DEFAULT 'DiamondsTND',
    donor_username TEXT,
    donor_fullname TEXT,
    message TEXT,
    received_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    verification_status TEXT NOT NULL DEFAULT 'pending_verification', -- 'verified', 'pending_verification', 'rejected'
    raw_payload JSONB DEFAULT '{}'::jsonb,
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    CONSTRAINT uq_donations_payment_provider UNIQUE (payment_id, provider)
);

CREATE INDEX IF NOT EXISTS idx_donations_received_at ON public.donations(received_at DESC);
CREATE INDEX IF NOT EXISTS idx_donations_provider ON public.donations(provider);

-- 4. Enable Row Level Security (RLS)
ALTER TABLE public.marketing_leads ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.resource_downloads ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.donations ENABLE ROW LEVEL SECURITY;

-- RLS Policies for marketing_leads:
-- Public can INSERT leads (for free resource lead capture)
DROP POLICY IF EXISTS "Public can insert leads" ON public.marketing_leads;
CREATE POLICY "Public can insert leads"
    ON public.marketing_leads FOR INSERT
    WITH CHECK (true);

-- Authenticated Admin can view and manage all leads
DROP POLICY IF EXISTS "Admin full access to leads" ON public.marketing_leads;
CREATE POLICY "Admin full access to leads"
    ON public.marketing_leads FOR ALL
    USING (auth.role() = 'authenticated')
    WITH CHECK (auth.role() = 'authenticated');

-- RLS Policies for resource_downloads:
-- Public can INSERT download events
DROP POLICY IF EXISTS "Public can record downloads" ON public.resource_downloads;
CREATE POLICY "Public can record downloads"
    ON public.resource_downloads FOR INSERT
    WITH CHECK (true);

-- Authenticated Admin can view and manage download events
DROP POLICY IF EXISTS "Admin full access to downloads" ON public.resource_downloads;
CREATE POLICY "Admin full access to downloads"
    ON public.resource_downloads FOR ALL
    USING (auth.role() = 'authenticated')
    WITH CHECK (auth.role() = 'authenticated');

-- RLS Policies for donations:
-- Authenticated Admin can view and manage donations
DROP POLICY IF EXISTS "Admin full access to donations" ON public.donations;
CREATE POLICY "Admin full access to donations"
    ON public.donations FOR ALL
    USING (auth.role() = 'authenticated')
    WITH CHECK (auth.role() = 'authenticated');

-- Service role has full access to donations (for webhooks)
DROP POLICY IF EXISTS "Service role full access to donations" ON public.donations;
CREATE POLICY "Service role full access to donations"
    ON public.donations FOR ALL
    USING (auth.jwt() ->> 'role' = 'service_role')
    WITH CHECK (auth.jwt() ->> 'role' = 'service_role');
